<h1>Who we are and what we stand for</h1>

<p>Literally Music is a platform that helps connects the sales of music equipment from small local businesses and musicians. </p>

<img src="https://media.giphy.com/media/uNQl4edRHTSeI/giphy.gif" alt="">
