<h1>WELCOME TO LITERALLY MUSIC. WE LITERALLY SELL MUSIC HERE</h1>

<section class="flex-container">
  <header class="flex-item header">YOU CAN LITERALLY BUY ALL THE MUSIC</header>
  <aside class="flex-item sidebar">THE MUSIC ITEMS WILL BRING YOU JOY</aside>
  <main class="flex-item main">LOG IN AS A USER AND BUY AND SELL MUSIC ITEMS NEEDED TO LITERALLY MAKE THOSE SICK BEATS</main>
  <aside class="flex-item sidebar">THE MUSIC ITEMS WILL BRING YOU PEACE</aside>
  <footer class="flex-item footer">DO NOT LISTEN TO YOUR WIFE DEBRA ABOUT THE BUDGET FOR THE KIDS' BIRTHDAY</footer>
</section>

<img src="https://media.giphy.com/media/uNQl4edRHTSeI/giphy.gif" alt="">
