<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LITERALLY MUSIC SHOP</title>
    <nav>
      <ul>
        <li><a href="/literally_music/items">Items</a></li>
        <li><a href="/literally_music/users">Users</a></li>
      </ul>
    </nav>
  </head>
  <body>
    <%=yield  %>
  </body>
</html>
