<h1>LITERALLY AN AWESOME MUSICAL ITEM</h1>

<p>Name: <%= @music_item.item_name() %></p>
<p>Category: <%= @music_item.find_category_name %> </p>
<p>Purchase this item? </p>
  <% if @music_item.still_on_sale() == true %>
     <button type="button" disabled>Purchase this item!</button>
   <% elsif @music_item.still_on_sale== false %>
      <button type="button">Purchase this item!</button>
  <% end %>



<form action="/literally_music/<%= @music_item.id %>/edit" method="post">
  <button type="submit" name="Edit">Edit this item</button>
</form>

<form action="/literally_music/<%= @music_item.id %>/delete" method="post">
  <button type="submit" name="Delete">Delete this item</button>
</form>

<hr />
