<h1>CHECK OUT THESE PIECES OF GEAR THAT ARE ON SALE OR HAVE SOLD ON OUR FUNTASTIC SITE!!!!</h1>

<ul>
  <% @music_items.each do |music_item| %>
    <p>Item Name: <%= music_item.item_name %></p>
    <p>Category: <%= music_item.find_category_name %></p>


    <p>Name of Owner: <%= User.find_by_id(music_item.user_id).user_name %> </p>
    <p>
      <a href="/literally_music/items/<%= music_item.id %>">More details</a>
    </p>
    <hr />
  <% end %>
</ul>

<ul>
  <p><a href="/literally_music/items/search">Search items by category</a></p>
  <p><a href="/literally_music/items/new">Add cool new items</a></p>
</ul>
